# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
ENV/
env/
.venv/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore build directories
dist
build

# Ignore environment variables
.env

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore IDE specific files
.idea
.vscode
*.swp

# Ignore git files
.git

# mypy
.mypy_cache/

# ruff
.ruff_cache

# pytest
.pytest-cache/