# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.env
.venv

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
*.cover
*.py,cover

# mypy
.mypy_cache/

# ruff
.ruff_cache

# pytest
.pytest-cache/

# vscode
.vscode
